Repository BotBuilderCommunity/botbuilder-community-js, changes with the owners that CODEOWNERS names for each.
All owners: @szul, @imicknl, @stephanbisser, @mdrichardson

Minor package number updates
  libraries/botbuilder-adapter-alexa/package-lock.json
  libraries/botbuilder-adapter-alexa/package.json
  libraries/botbuilder-core/package-lock.json
  libraries/botbuilder-core/package.json
Owners: @imicknl

Fix dead link
  README.md
Owners: @szul

Add botbuilder-storage-dynamodb
  libraries/botbuilder-storage-dynamodb/.gitignore
  libraries/botbuilder-storage-dynamodb/.npmignore
  libraries/botbuilder-storage-dynamodb/LICENSE
  libraries/botbuilder-storage-dynamodb/README.md
  libraries/botbuilder-storage-dynamodb/package-lock.json
  libraries/botbuilder-storage-dynamodb/package.json
  libraries/botbuilder-storage-dynamodb/src/dynamoDBStorage.ts
  libraries/botbuilder-storage-dynamodb/src/index.ts
  libraries/botbuilder-storage-dynamodb/tsconfig.json
Owners: @szul

Update README
  README.md
Owners: @szul

Address PR comments
  libraries/botbuilder-storage-dynamodb/.gitignore
  libraries/botbuilder-storage-dynamodb/LICENSE
  libraries/botbuilder-storage-dynamodb/src/dynamoDBStorage.ts
Owners: @szul

Fix lint failures
  libraries/botbuilder-storage-dynamodb/src/dynamoDBStorage.ts
Owners: @szul

Correct version
  libraries/botbuilder-storage-dynamodb/package.json
Owners: @szul

Add sample code
  samples/storage-dynamodb/index.js
  samples/storage-dynamodb/package.json
Owners: @szul

Write tests for DynamoDBStorage
  libraries/botbuilder-storage-dynamodb/package-lock.json
  libraries/botbuilder-storage-dynamodb/package.json
  libraries/botbuilder-storage-dynamodb/test/dynamoDBStorage.test.js
Owners: @szul

Update contributors
  libraries/botbuilder-storage-dynamodb/package.json
Owners: @szul

Run npm audit fix
  package-lock.json
Owners: @szul

Update README with credentials instructions
  libraries/botbuilder-storage-dynamodb/README.md
Owners: @szul

Fix sample
  samples/storage-dynamodb/index.js
  samples/storage-dynamodb/package.json
Owners: @szul

Regenerate lock file
  package-lock.json
Owners: @szul

Regenerate lock files
  libraries/botbuilder-adapter-alexa/package-lock.json
  libraries/botbuilder-adapter-console/package-lock.json
  libraries/botbuilder-adapter-twilio-whatsapp/package-lock.json
  libraries/botbuilder-adapter-twitter/package-lock.json
  libraries/botbuilder-core/package-lock.json
  libraries/botbuilder-dialog-prompts/package-lock.json
  libraries/botbuilder-middleware-activity-type/package-lock.json
  libraries/botbuilder-middleware-aws-comprehend/package-lock.json
  libraries/botbuilder-middleware-engine-core/package-lock.json
  libraries/botbuilder-middleware-google-language/package-lock.json
  libraries/botbuilder-middleware-spell-check/package-lock.json
  libraries/botbuilder-middleware-text-analytics/package-lock.json
  libraries/botbuilder-middleware-text-recognizer/package-lock.json
  libraries/botbuilder-middleware-watson-nlu/package-lock.json
  libraries/botbuilder-storage-azure-table/package-lock.json
  libraries/botbuilder-storage-dynamodb/package-lock.json
  libraries/botbuilder-storage-mongodb/package-lock.json
  libraries/botbuilder-storage-mssql/package-lock.json
Owners: @imicknl, @szul, @stephanbisser, @mdrichardson

Add GitHub Actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/eslint.yml
  .github/workflows/test.yml
Owners: @szul

Change to test-ci
  .github/workflows/test.yml
Owners: @szul

Remove Azure pipelines
  azure-pipelines.yml
Owners: @szul

feat: changing bing url
  libraries/botbuilder-middleware-spell-check/src/spellcheck.ts
Owners: @stephanbisser

feat: now tunState are set with token and suggestion array
  libraries/botbuilder-middleware-spell-check/src/spellcheck.ts
Owners: @stephanbisser

feat: transform the misspelled sentence to well spellchecked
  libraries/botbuilder-middleware-spell-check/src/spellcheck.ts
Owners: @stephanbisser

style: styles on spellcheck fixed
  libraries/botbuilder-middleware-spell-check/src/spellcheck.ts
  libraries/botbuilder-middleware-spell-check/test/index.test.js
Owners: @stephanbisser

fix: fixing unit tests
  libraries/botbuilder-middleware-spell-check/package-lock.json
  libraries/botbuilder-middleware-spell-check/src/spellcheck.ts
Owners: @stephanbisser

adapter-tyntec-whatsapp: Add a README
  README.md
  libraries/botbuilder-adapter-tyntec-whatsapp/README.md
Owners: @szul

adapter-tyntec-whatsapp: Add package.json
  libraries/botbuilder-adapter-tyntec-whatsapp/package.json
Owners: @szul

adapter-tyntec-whatsapp: Add build script
  libraries/botbuilder-adapter-tyntec-whatsapp/.npmignore
  libraries/botbuilder-adapter-tyntec-whatsapp/package-lock.json
  libraries/botbuilder-adapter-tyntec-whatsapp/package.json
  libraries/botbuilder-adapter-tyntec-whatsapp/tsconfig.json
Owners: @szul

adapter-tyntec-whatsapp: Add test scripts
  libraries/botbuilder-adapter-tyntec-whatsapp/.npmignore
  libraries/botbuilder-adapter-tyntec-whatsapp/package-lock.json
  libraries/botbuilder-adapter-tyntec-whatsapp/package.json
Owners: @szul

adapter-tyntec-whatsapp: Add TyntecWhatsAppAdapter
  libraries/botbuilder-adapter-tyntec-whatsapp/.npmignore
  libraries/botbuilder-adapter-tyntec-whatsapp/README.md
  libraries/botbuilder-adapter-tyntec-whatsapp/docs/TyntecWhatsAppAdapter.md
  libraries/botbuilder-adapter-tyntec-whatsapp/package-lock.json
  libraries/botbuilder-adapter-tyntec-whatsapp/package.json
  libraries/botbuilder-adapter-tyntec-whatsapp/src/index.ts
  libraries/botbuilder-adapter-tyntec-whatsapp/test/index.test.js
Owners: @szul

adapter-tyntec-whatsapp: Add TyntecWhatsAppAdapter#axiosInstance
  libraries/botbuilder-adapter-tyntec-whatsapp/README.md
  libraries/botbuilder-adapter-tyntec-whatsapp/docs/ITyntecWhatsAppAdapterSettings.md
  libraries/botbuilder-adapter-tyntec-whatsapp/docs/TyntecWhatsAppAdapter.md
  libraries/botbuilder-adapter-tyntec-whatsapp/package.json
  libraries/botbuilder-adapter-tyntec-whatsapp/src/index.ts
  libraries/botbuilder-adapter-tyntec-whatsapp/test/index.test.js
Owners: @szul

adapter-tyntec-whatsapp: Add composeTyntecSendWhatsAppMessageRequestConfig
  libraries/botbuilder-adapter-tyntec-whatsapp/src/tyntec/axios.ts
  libraries/botbuilder-adapter-tyntec-whatsapp/src/tyntec/messages.ts
  libraries/botbuilder-adapter-tyntec-whatsapp/test/tyntec/axios.test.js
Owners: @szul

adapter-tyntec-whatsapp: Add TyntecWhatsAppAdapter#maxBodySize
  libraries/botbuilder-adapter-tyntec-whatsapp/docs/ITyntecWhatsAppAdapterSettings.md
  libraries/botbuilder-adapter-tyntec-whatsapp/docs/TyntecWhatsAppAdapter.md
  libraries/botbuilder-adapter-tyntec-whatsapp/src/index.ts
  libraries/botbuilder-adapter-tyntec-whatsapp/test/index.test.js
Owners: @szul

adapter-tyntec-whatsapp: Add composeTyntecRequestConfig
  libraries/botbuilder-adapter-tyntec-whatsapp/package.json
  libraries/botbuilder-adapter-tyntec-whatsapp/src/tyntec/axios.ts
  libraries/botbuilder-adapter-tyntec-whatsapp/test/tyntec/axios.test.js
Owners: @szul

adapter-tyntec-whatsapp: Add TyntecWhatsAppAdapter#composeTyntecWhatsAppMessageRequest
  libraries/botbuilder-adapter-tyntec-whatsapp/src/index.ts
  libraries/botbuilder-adapter-tyntec-whatsapp/test/index.test.js
Owners: @szul

adapter-tyntec-whatsapp: Add TyntecWhatsAppAdapter#tyntecApikey
  libraries/botbuilder-adapter-tyntec-whatsapp/README.md
  libraries/botbuilder-adapter-tyntec-whatsapp/docs/ITyntecWhatsAppAdapterSettings.md
  libraries/botbuilder-adapter-tyntec-whatsapp/docs/TyntecWhatsAppAdapter.md
  libraries/botbuilder-adapter-tyntec-whatsapp/src/index.ts
  libraries/botbuilder-adapter-tyntec-whatsapp/test/index.test.js
Owners: @szul

adapter-tyntec-whatsapp: Add parseTyntecSendWhatsAppMessageResponse
  libraries/botbuilder-adapter-tyntec-whatsapp/src/tyntec/axios.ts
  libraries/botbuilder-adapter-tyntec-whatsapp/test/tyntec/axios.test.js
Owners: @szul

adapter-tyntec-whatsapp: Support templates in TyntecWhatsAppAdapter.sendActivities
  libraries/botbuilder-adapter-tyntec-whatsapp/README.md
  libraries/botbuilder-adapter-tyntec-whatsapp/docs/Activity.md
  libraries/botbuilder-adapter-tyntec-whatsapp/docs/TyntecWhatsAppAdapter.md
  libraries/botbuilder-adapter-tyntec-whatsapp/src/index.ts
  libraries/botbuilder-adapter-tyntec-whatsapp/test/index.test.js
Owners: @szul

adapter-tyntec-whatsapp: Add TyntecWhatsAppAdapter#parseTyntecWhatsAppMessageEvent
  libraries/botbuilder-adapter-tyntec-whatsapp/docs/TyntecWhatsAppAdapter.md
  libraries/botbuilder-adapter-tyntec-whatsapp/src/index.ts
  libraries/botbuilder-adapter-tyntec-whatsapp/src/tyntec/messages.ts
  libraries/botbuilder-adapter-tyntec-whatsapp/test/index.test.js
Owners: @szul

adapter-tyntec-whatsapp: Support text messages in TyntecWhatsAppAdapter.sendActivities
  libraries/botbuilder-adapter-tyntec-whatsapp/docs/TyntecWhatsAppAdapter.md
  libraries/botbuilder-adapter-tyntec-whatsapp/src/index.ts
  libraries/botbuilder-adapter-tyntec-whatsapp/test/index.test.js
Owners: @szul

adapter-tyntec-whatsapp: Support text messages in TyntecWhatsAppAdapter.processActivity
  libraries/botbuilder-adapter-tyntec-whatsapp/README.md
  libraries/botbuilder-adapter-tyntec-whatsapp/docs/Activity.md
  libraries/botbuilder-adapter-tyntec-whatsapp/docs/TyntecWhatsAppAdapter.md
  libraries/botbuilder-adapter-tyntec-whatsapp/src/index.ts
  libraries/botbuilder-adapter-tyntec-whatsapp/test/index.test.js
Owners: @szul

adapter-tyntec-whatsapp: Support image messages in TyntecWhatsAppAdapter.sendActivities
  README.md
  libraries/botbuilder-adapter-tyntec-whatsapp/README.md
  libraries/botbuilder-adapter-tyntec-whatsapp/docs/Activity.md
  libraries/botbuilder-adapter-tyntec-whatsapp/docs/TyntecWhatsAppAdapter.md
  libraries/botbuilder-adapter-tyntec-whatsapp/src/index.ts
  libraries/botbuilder-adapter-tyntec-whatsapp/src/tyntec/messages.ts
  libraries/botbuilder-adapter-tyntec-whatsapp/test/index.test.js
Owners: @szul

CODEOWNERS:

# People marked here will be automatically requested for a review
# when the code that they own is touched.
# https://help.github.com/articles/about-codeowners/

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
* @szul

# Library Owners
/libraries/botbuilder-adapter-console/ @szul
/libraries/botbuilder-adapter-alexa/ @imicknl
/libraries/botbuilder-adapter-twilio-whatsapp/ @imicknl
/libraries/botbuilder-adapter-twitter/ @szul
/libraries/botbuilder-core/ @imicknl
/libraries/botbuilder-dialog-prompts/ @szul
/libraries/botbuilder-middleware-activity-type/ @szul
/libraries/botbuilder-middleware-aws-comprehend/ @szul
/libraries/botbuilder-middleware-engine-core/ @szul
/libraries/botbuilder-middleware-google-language/ @szul
/libraries/botbuilder-middleware-spell-check/ @stephanbisser
/libraries/botbuilder-middleware-text-analytics/ @szul
/libraries/botbuilder-middleware-text-recognizer/ @szul
/libraries/botbuilder-middleware-watson-nlu/ @szul
/libraries/botbuilder-storage-azure-table/ @szul
/libraries/botbuilder-storage-mongodb/ @mdrichardson
/libraries/botbuilder-storage-mssql/ @szul
